*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 13px;
    text-transform: uppercase;
    user-select: none;
    scroll-snap-type: y mandatory;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    --verde:#001A15;
    --azul: #425cc7;
    --naranja: #f5A023;
    --rojo: #ff4713 ;
    --blanco: #f4f2e3;
}

html{
    scroll-behavior: smooth;
}
/* MAYORIA DE EDAD */

.box-question{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.box-question-one{
    background-color: var(--naranja);
    width: 50vw;
    height: 100vh;
    float: left;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.box-question-two{
    background-color: var(--azul);
    width:100%;
}
.box-question-three{
    background-color: var(--verde);
    width:100%;
}
.answer{
    width: 50vw;
    user-select: none;
}
.text-question{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--azul);
    display: flex;
    justify-content: center;
    font-size: 85px;
}
.yes, .no{
    font-family: 'Noto Serif Display', serif !important;
    font-style: italic;
    font-weight: 400;
    margin: auto;  
    font-size: 85px;  
    display: flex;
    align-items: center;
    justify-content: center;    
    cursor: pointer;  
    height: 50vh;
    width: 50vhw;
}
.yes{
    color: var(--rojo);
    background-color: var(--azul);
    border: var(--azul);
}

.no{
    color: var(--naranja);
    background-color: var(--verde);
    border:var(--verde);
}


/* THE END MAYORIA DE EDAD */

.link{
    font-size:1.8rem;
    text-decoration: none;
    color: var(--verde);
    font-weight: 600;
}
.link:hover{
    text-decoration: underline;
}

nav{
    transition: all 0.5s;
    top: -200px;
    position:absolute;
    width:100%;
    background-color:var(--blanco);
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding: 1em 0;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

nav img{
    width: 15vw;
}

nav .menu{
    width: 65%;
    margin: 0 1em;
    padding: 1em 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}

menu{
    transition: all 0.5s;
    top: 0px;
    width:100%;
    background-color:var(--blanco);
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding: 1em 0;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

menu img{
    width: 15vw;
}

menu .menu{
    width: 65%;
    margin: 0 1em;
    padding: 1em 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}

section{
    scroll-snap-align: start;
    color: var(--blanco);
}

#landing{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-first{
    width: 50vw!important;
    height: 100vh!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-img{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.contenedor-img h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 121px;
}

#landing img{
    width: 50vw;
}

#png{
    width: 50vw;
    background-color: var(--verde);
}

#png img{
    width: 50%;
}

#global{
    top: -3rem;
}

#que-hacemos{
    width: 100%;
    height: 100vh;
    background-color: var(--azul);
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    overflow: hidden;
}

.copa ,
.copa-white{
    transition: all 0.5s;
    position: fixed;
    left: 7rem;
    top: 4rem;
    overflow: hidden;
    z-index: 20;
}

.copa-white:hover{
    cursor: pointer;
}

.copa ,
.copa-white img{
    width: 8em !important;
}

.quienes-somos{
    width: 55%;
}
div p{
    text-align: justify;
    margin-top: 7rem;
    font-size: 1.8rem;
    word-spacing: 7px;
    line-height: 2rem;
}

span{
    font-size: 7rem;
}

.parentesis{
    font-family: 'Noto Serif Display', serif;
    font-weight: 400;
    font-style: italic;
}

.text-50{
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
    justify-content: center;
}

.text-35{
    width: 75%;
}

section .contenedor-img img{
    width: 50vw;
    height: 110vh;
}

#vision{
    background-color:var(--naranja);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#mision{
    background-color: var(--azul);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* BODEGA */

.nuestros-vinedos{
    width: 100%;
    height: 100vh;
    background-color: var(--verde);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* END BODEGA */


/* PRODUCTOS */
.productos{
    background-color: var(--rojo);
    width: 100%;
    height: 500px;
}
#png-brown{
    background-color: var(--naranja);
    display: flex;
    flex-direction: column;
}
#landing ,
#png-orange{
    background-color: var(--rojo);
}
#png-blue{
    background-color: var(--azul);

}
.wine{
    max-width: 50vw;
}

.wine-carb , 
.wine-vaca ,
.wine-negro ,
.wine-prox{
    color:var(--azul);
    font-size:6vw!important;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.wine-negro{
    color: var(--naranja);
}
.vm-carb{
    color: var(--azul);
}
.vm-vaca {
    color: var(--azul);
    margin-right: auto;
}
.vm-negro{
    color: var(--naranja);
    margin-right: auto;
}
.wine-prox{
    font-size:5vw!important;
    color: var(--blanco);
}
.wine-prox span{
    font-size: .8em;
}
/* BUTTON DE PRODUCT */


#btn-round img{
    width: 13vw ;
    position: fixed;
    right: 5rem;
    top: 4rem;
    animation: 20s rotate linear infinite;
    transform-origin: 50% 50%;
    overflow: hidden;
    z-index: 20;
}

#landing .btn-round-product{
    width: 2px ;
    position: fixed;
    animation: 20s rotate linear infinite;
    transform-origin: 50% 50%;
    overflow: hidden;
    z-index: 20;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/* THE END PRODUCT */

/* BODEGAS */
.bck-brown{
    background-color: var(--naranja) !important;
}

.contenedor-img-bode{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
/* THE END BODEGAS */

/* CONTACT */

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact{
    background-color: var(--verde) !important;
}
.box-contact{
    width: 80%;
    padding: 6rem 0;
}
.adress{
    display: flex;
    flex-direction: row;
}

.yellow{
    font-family: 'Noto Serif Display', serif;
    font-style: italic;
    font-size: 1.8rem;
    font-weight: bolder;
    background-color: var(--naranja);
    width: 15vw;
    color: var(--azul);
    padding: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.net{
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: var(--azul);
    width: 43vw;
    text-align: center;
    padding: 2rem;
}

.red{
    color: var(--verde);
    background-color: var(--rojo);
    user-select: text!important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue{
    color: var(--naranja);
    user-select: text!important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confidencial{
    position: absolute;
    width: 90%;
    font-size: 1rem;
    bottom: 0rem;
    padding: 4rem;
}

/* THE END CONTACT */

/* DENEGADO */

.tamanio{
    width: 25%;
    text-align: center;
}
.denegado{
    width: 100%;
    height: 100vh;
    color: var(--blanco);
    background-color: var(--verde);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.denegado span{
    font-size: 2rem;
}

.denegado img{
    width: 18%;
    position: absolute;
    bottom: 10%;
    right: 41.5%;
}

/* VIDEO YOUTUBE */
.content-media{
    width: 100%;
    position: relative;
    background-color:rgb(0, 0, 0);
    display: block;
    width: 100%;
    padding-bottom: 45.19%;

}
.content-media--video iframe{
    position: absolute;
     right: 0;
     width: 100%;
     height: 100%;
 }
