*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.link{
    text-decoration: none;
    color: #001A15;
}

nav{
    background-color:#F4F2E3;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding: 1em 0;
    overflow: hidden;
}

nav img{
    width: 15vw;
}

nav .menu{
    width: 65%;
    margin: 0 1em;
    padding: 1em 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}

section{
    color: #F4F2E3;
}

button img:hover{
    cursor: pointer;
} 

#btn-round img{
    width: 10rem;
    position: fixed;
    right: 2vw;
    top: 10vh;
    animation: 20s rotate linear infinite;
    transform-origin: 50% 50%;
    overflow: hidden;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#landing{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedor-img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#landing img{
    width: 50vw;
}

#png{
    background-color: #001A15;
}

#png img{
    width: 50%;
}

#que-hacemos{
    width: 100%;
    background-color: #425CC7;
    color: #F4F2E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.copa ,
.copa-white{
    position: relative;
    bottom: 1vh;
    left: -40vw;
}

.copa ,
.copa-white img{
    width: 5em;
}

.quienes-somos{
    width: 80%;
    font-size:36px;
}

span{
    font-size: 121px;
}

#vision{
    background-color:#F5A023;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#vision img{
    width: 50%;
}

#mision{
    background-color: #425CC7;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#mision img{
    width: 50%;
}

/* PRODUCTOS */
.productos{
    background-color: #FF4713;
    width: 100%;
    height: 500px;
}
#png-brown{
    background-color: #F5A023;
    display: flex;
    flex-direction: column;
}
#landing ,
#png-orange{
    background-color: #FF4713;
}
#png-blue{
    background-color: #425CC7;

}
.wine{
    max-width: 50vw;
    max-height: 50vw; 
    
}

.wine-carb , 
.wine-vaca ,
.wine-negro ,
.wine-prox{
    color:#425CC7;
    font-size: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.wine-negro{
    color: #F5A023;
}
.wine-musas{
    font-size: 25px;
}
.vm-carb{
    color: #425CC7;
}
.vm-vaca {
    color: #425CC7;
    margin-right: auto;
    
}
.vm-negro{
    color: #F5A023;
    margin-right: auto;
}
.wine-prox{
    color: #F4F2E3;
}
/* BUTTON DE PRODUCT */


#btn-round-product img{
    width: 10rem;
    position: absolute;
    right: 2vw;
    top: 10vh;
    animation: 20s rotate linear infinite;
    transform-origin: 50% 50%;
    overflow: hidden;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/* THE END PRODUCT */

/* BODEGAS */
.bck-brown{
    background-color: #F5A023 !important;
}

.contenedor-img-bode{
    width: 100%;
    height: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
/* THE END BODEGAS */

/* CONTACT */
.contact{
    background-color: #001A15 !important;
    height: 100% !important;
}
.box-contact{
    position: absolute;
    margin-top: 25px;
    
}
.box-contact-one{
    background-color: #F5A023;
    width: 250px;
    height: 250px;
    float: left;

}
.box-contact-two{
    background-color: #FF4713;
    width: 645px;
    height: 125px;
    display: flex;
    justify-content: center;
    
    
}
.box-contact-three{
    background-color: #425CC7;
    width: 645px;
    height: 125px;
    display: flex;
    justify-content: center;
}
.text-contact{
    color: #425CC7;
    display: flex;
    justify-content: center;
    margin: 55px;
    margin-bottom: 95px;
}
.mail, .phone{
    margin: auto;            
}

/* THE END CONTACT */
/*  */